<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Desert Aire"
        version   = "1.0.1">

    <name>DA Trial 2</name>

    <description>
        Sample trial run for Desert Aire
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        DA Team
    </author>
	
	<!-- Define app icon for each platform. -->
    <icon src="/images/DA logo.png" />
    <icon src="/images/DA logo.png.png"  gap:platform="android"    gap:qualifier="xhdpi" />
	<gap:splash src="/images/DA logo.png.png"      gap:platform="android" gap:qualifier="port-xhdpi" />

<preference name="phonegap-version" value="3.6.3" />
</widget>
