<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Desert Aire"
        version   = "2.0.1">

    <name>Desert Aire</name>

    <description>
        Trial run for Desert Aire
    </description>

    <author href="http://phonegap.com" email="tsaunders@desert-aire.com">
        DA Team
    </author>
	
	<!-- Define app icon for each platform. -->
    <icon src="/images/DA new word logo.png" />
    <icon src="/images/DA new word logo.png.png"  gap:platform="android"    gap:qualifier="xhdpi" />
<!--	<gap:splash src="/images/DA logo.png"     gap:platform="android" gap:qualifier="port-xhdpi" width="300" height="300" />
-->
<preference name="phonegap-version" value="3.6.3" />
</widget>
